.ellipsis {
  line-height: 1.3 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*  Scrollbar style */
/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  transition: 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}